


#battlefield{
  width: 700px;
  display: flex;
  justify-content: space-between;
}



.game-board{
height: 300px;
width: 300px;
  
}

.block{
width: 30px;
height: 30px;
border: 1px solid black;
}



#port{
    width: 500px;
    height: 50px;
    margin: 30px 0px;
    background-color: aqua;
    display:flex;
    flex-direction: row;
    align-items: center;
}



.destroyer{
  background-color: brown;
}
.cruiser{
  background-color: yellowgreen;
}
.battleship{
  background-color: blueviolet;
}
.carrier{
  background-color: crimson;
}
.submarine{
  background-color: darkorange;
}

.titanic{
  background-color: antiquewhite;
}

.destroyer-preview{

  width: 20px;
  height: 10px;
  margin: 3px ;
}
.cruiser-preview{

  width: 30px;
  height: 10px;
  margin: 3px ;
}
.battleship-preview{

  width: 40px;
  height: 10px;
  margin: 3px ;
}
.carrier-preview{

  width: 50px;
  height: 10px;
  margin: 3px ;
}
.submarine-preview{

  width: 30px;
  height: 10px;
  margin: 3px ;
}

.titanic-preview{
   width: 70px;
  height: 10px;
  margin: 3px;
}