body{
display:flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
width: 100%;
height: 100%;
background-color: green ;

}

#port{
  width: 80%;
  height: 20%;
  background-color: yellow;
  display: flex;
  flex-direction: row;
}

.destroyer{
  background-color: brown;
}
.cruiser{
  background-color: aqua;
}
.battleship{
  background-color: blueviolet;
}
.carrier{
  background-color: crimson;
}
.submarine{
  background-color: darkorange;
}

.titanic{
  background-color: antiquewhite;
}

.destroyer-preview{

  width: 110px;
  height: 55px;
  margin: 6px ;
}
.cruiser-preview{

  width: 165px;
  height: 55px;
  margin: 6px ;
}
.battleship-preview{

  width: 220px;
  height: 55px;
  margin: 6px ;
}
.carrier-preview{

  width: 275px;
  height: 55px;
  margin: 6px ;
}
.submarine-preview{

  width: 165px;
  height: 55px;
  margin: 6px ;
}

.titanic-preview{
   width: 385px;
  height: 55px;
  margin: 6px;
}

margin{
    display: flex;
    font-size: 20px;
}

#timer{
padding: 0px 20px;
}

#p1board{

  padding: 20px 270px;
}

#p2board{
padding: 20px 270px;
}

#battlefield{
display:flex;
flex-direction: row;
flex-wrap: nowrap ;
justify-content: space-evenly;
align-items: center;
width: 80%;
height: 80%;
border: 20px solid

}

#board1{
display:flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
width: 65%;
height: 30%;
flex-wrap: wrap;
border: 1px;
background-color: black;
}


#board2{
display:flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
width: 65%;
height: 30%;
flex-wrap: wrap;
background-color: black;
}


.cell{
display:flex;
flex: wrap;
flex-direction: row;
align-items: center;
border: 2px solid black;
border-radius: 2px;
padding: 20px;
width: 15px;
height: 15px;
background-color: white;
}