


#battlefield{
  width: 700px;
  display: flex;
  justify-content: space-between;
}



.game-board{
height: 300px;
width: 300px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
  
}

.block{
width: 30px;
height: 30px;
border: 1px solid black;
box-sizing: border-box;
}


#port{
    width: 500px;
    height: 50px;
    margin: 30px 0px;
    background-color: aqua;
    display:flex;
    flex-direction: row;
    align-items: center;
}



.destroyer{
  background-color: brown;
}
.cruiser{
  background-color: yellowgreen;
}
.battleship{
  background-color: blueviolet;
}
.carrier{
  background-color: crimson;
}
.submarine{
  background-color: blue;
}

.titanic{
  background-color: antiquewhite;
}

.destroyer-preview{

  width: 20px;
  height: 10px;
  margin: 3px ;
}
.cruiser-preview{

  width: 30px;
  height: 10px;
  margin: 3px ;
}
.battleship-preview{

  width: 40px;
  height: 10px;
  margin: 3px ;
}
.carrier-preview{

  width: 50px;
  height: 10px;
  margin: 3px ;
}
.submarine-preview{

  width: 30px;
  height: 10px;
  margin: 3px ;
}

.titanic-preview{
   width: 60px;
  height: 10px;
  margin: 3px;
}


#player-2 .destroyer,
#player-2 .cruiser,
#player-2 .battleship,
#player-2 .carrier,
#player-2 .submarine,
#player-2 .titanic {

  background-color: yellow;
}

.hover{
  background-color: gray;
}

.boom{
  background-color: orangered !important;
}


.empty{
  background-color: grey !important;
}

.connected, 
.ready{
  font-weight: normal;
}

.connected span,
.ready span{ 
display: inline-block;
width: 1rem;
height: 1rem;
background: red;
}

span.green {
  background: green;
}
